{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}

    <section>

        <div class="container">

            {% for item in articles %}

                <div class="row d-flex justify-content-around">

                    <div class="col mt-4 py-5">
                        <div>
                            <h3 style="color: #827ffe;" class="titre_articles"> {{ item.titre }}</h3>
                        </div>

                        <br>

                        <div class="mt-4">
                            <h3 class="sous_articles text-muted"> {{ item.soustitre }}</h3>
                        </div>
                        <br>

                        <div class="mt-4">
                            <h3 class="sous_articles text-muted"> {{ item.prix }} DT</h3>
                        </div>
                        <br>
                        <br>

                        <div class="mt-5 ">
                            <a href="/article/{{ item.id }}"
                             style="background-color:#827ffe;"  class="btn text-white btn-block btn-lg">Explorer</a>
                        </div>


                    </div>

                    <div class="col">
                        <img src="/articles/{{ item.image }}" class="shadow-lg mb-5 rounded img-fluid img-articles"
                             alt="image">
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>

{% endblock %}
